<script>
    $(function() {

        var in_1i = $( "#clock_time_in_1i" ),
                out_1i = $( "#clock_time_out_1i" ),
                allFields = $( [] ).add( in_1i ).add( out_1i ),
                tips = $( ".validateTips" );

        function updateTips( t ) {
            tips
                    .text( t )
                    .addClass( "ui-state-highlight" );
            setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
            }, 500 );
        }

        function checkLength( o, n, min, max ) {
            if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Length of " + n + " must be between " +
                        min + " and " + max + "." );
                return false;
            } else {
                return true;
            }
        }

        function checkRegexp( o, regexp, validateTip ) {
            if ( !( regexp.test( o.val() ) ) ) {
                o.addClass( "ui-state-error" );
                updateTips( validateTip );
                return false;
            } else {
                return true;
            }
        }

        $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 425,
            width: 400,
            modal: true,
            close: function() {
                allFields.val( "" ).removeClass( "ui-state-error" );
            }
        });

        $( "#create-user" )
                .button()
                .click(function() {
                    $( "#dialog-form" ).dialog( "open" );
                    bind_dialog_form_close($( "#dialog-form" ));
                });
    });
</script>



<div class="demo">

  <div id="dialog-form" title="Create new clock time">
    <p class="validateTips">All form fields are required.</p>

    <%= render 'clock_times/form' %>
  </div>

  <button id="create-user">Create new Clock Time</button>
    </div>